<!DOCTYPE html>
  <html>
  <head>
    <title>The Bombe and the Enigma</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Trispace:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
