<div class="returnDiv">
  <table>
    <tr>
      <td><button class="options" onclick="window.location='/enigma';">ENIGMA</button></td>
      <td><button class="options" onclick="window.location='/bombe';">BOMBE</button></td>
      <td><button class="options" onclick="window.location='/worksCited';">WORKS CITED</button></td>
    </tr>
  </table>
</div>
<hr>
