<div class="rotorTableExample">
  <h2>Rotor Demonstration (Simplified):</h2>
  <table>
    <tr>
      <td>R3</td>
      <td>R2</td>
      <td>R1</td>
    </tr>
    <tr>
      <td class="rotorExample">0</td>
      <td class="rotorExample">0</td>
      <td class="rotorExample">0</td>
    </tr>
  </table>
</div>
<h2>What an Operator Would See:</h2>
<div class="shiftedLettersExample">
  <table>
    <tr>
      <td>a</td>
      <td>-></td>
      <td id="letterToShift"></td>
    </tr>
  </table>
</div>
