<div class="enigmaTypeWriter">
  <h2>Demonstration:</h2>
  <div class="typeWriter">
    <table class='dialTable'>
      <tr>
        <td><label>Rotor 3</label><br><input type="number" class="typeRotors" placeholder="Rotor 3" min="0" max="26" value="0"></td>
        <td><label>Rotor 2</label><br><input type="number" class="typeRotors" placeholder="Rotor 2" min="0" max="26" value="0"></td>
        <td><label>Rotor 1</label><br><input type="number" class="typeRotors" placeholder="Rotor 1" min="0" max="26" value="0"></td>
      </tr>
    </table>
    <table class="outputTable">
      <tr>
        <td><span class="typeLetter">Q</span></td>
        <td><span class="typeLetter">W</span></td>
        <td><span class="typeLetter">E</span></td>
        <td><span class="typeLetter">R</span></td>
        <td><span class="typeLetter">T</span></td>
        <td><span class="typeLetter">Y</span></td>
        <td><span class="typeLetter">U</span></td>
        <td><span class="typeLetter">I</span></td>
        <td><span class="typeLetter">O</span></td>
        <td><span class="typeLetter">P</span></td>
      </tr>
    </table>
    <table class="outputTable">
      <tr>
        <td><span class="typeLetter">A</span></td>
        <td><span class="typeLetter">S</span></td>
        <td><span class="typeLetter">D</span></td>
        <td><span class="typeLetter">F</span></td>
        <td><span class="typeLetter">G</span></td>
        <td><span class="typeLetter">H</span></td>
        <td><span class="typeLetter">J</span></td>
        <td><span class="typeLetter">K</span></td>
        <td><span class="typeLetter">L</span></td>
      </tr>
    </table>
    <table class="outputTable">
      <tr>
        <td><span class="typeLetter">Z</span></td>
        <td><span class="typeLetter">X</span></td>
        <td><span class="typeLetter">C</span></td>
        <td><span class="typeLetter">V</span></td>
        <td><span class="typeLetter">B</span></td>
        <td><span class="typeLetter">N</span></td>
        <td><span class="typeLetter">M</span></td>
      </tr>
    </table>
  </div>
</div>
