<%- include("partials/header.ejs") %>
<%- include("partials/return.ejs") %>
<h2 class="bodyHeader bombe">BOMBE</h2>
<div class="bombeDiv">

  <h2>Alan Turing - Author of the BOMBE</h2>

  <div class="biography">
    <img src="turing.jpg" class="bombeProfile">
    <div class="facts bombeProfile">
      <ul>
        <li>British</li>
        <li>Cryptographer</li>
        <li>Mathemetician</li>
        <li>Scientist</li>
      </ul>
    </div>
  </div>



</div>

<%- include("partials/footer.ejs") %>
