<!DOCTYPE html>
  <html>
  <head>
    <title>The Bombe and the Enigma</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Trispace:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/controller.css">
  </head>
  <body>
    <div class="headDiv">
      <img src="enigmaSample.jpg">
      <h2 class="bodyHeader bombe">BOMBE</h2>
      <h2>VS</h2>
      <h2 class="bodyHeader enigma">ENIGMA</h2>
      <hr>
    </div>
    <button class="edAll modBtns options">Enable All</button>
    <br>
    <button class="edAll modBtns options">Disable All</button>
    <br>

    <!-- Enigma portion -->
    <button class="contollerBtn options headerBtn">ENIGMA</button>
    <hr>
    <h2 class="bodyHeader enigma">ENIGMA</h2>
    <img src="enigmaExample1.jpg" class="controllerImage enigmaImage">
    <hr>
    <img src="arthurScherbius.jpg" class="controllerImage enigmaImage">
    <hr>
    <img src="enigmaRotors.jpg" class="controllerImage enigmaImage">
    <hr>

      <%- include("partials/rotors.ejs") %>
      <button class="modBtns options">Reset</button>
    <hr>

    <img src="enigmaPlugboard.jpg" class="controllerImage enigmaImage">
    <hr>

    <img src="enigmaInstructions.jpg" class="controllerImage enigmaImage">
    <hr>

    <button class="contollerBtn options headerBtn">Demo</button>
    <br>
    <img src="enigmaDiagram.jpg" class="steps nigmaImage">
    <table class="stepDiagram">
      <tr>
        <td>Step 1</td>
        <td>Step 2</td>
        <td>Step 3</td>
        <td>Step 4</td>
        <td>Step 5</td>
      </tr>
      <tr>
        <td style="color: #bf4d92;">Keyboard</td>
        <td style="color: #19b552;">Plugboard</td>
        <td style="color: #d8a846;">Rotors</td>
        <td style="color: #19b552;">Plugboard</td>
        <td style="color: #4d9ec1;">Lampboard</td>
      </tr>
    </table>

    <h2>158,962,555,217,826,360,000</h2>
    <hr>

    <!-- Bombe portion -->
    <button class="contollerBtn options headerBtn">BOMBE</button>
    <hr>
    <h2 class="bodyHeader bombe">BOMBE</h2>
    <hr>
    <img src="marianRejewski.jpg" class="controllerImage bombeImage"><br>
    <img src="turing.jpg" class="controllerImageDuo bombeImage">

    <img src="gordonWelchman.jpg" class="controllerImageDuo bombeImage">
    <hr>
    <button class="contollerBtn options headerBtn">Demo</button>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/V4V2bpZlqx8?start=72" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>

    <img src="enigmaPlugboard.jpg" class="controllerImage bombeImage">
    <table class="stepDiagram" style="border: 1px solid #29bf12;">
      <tr>
        <td style="border: 1px solid #29bf12;">Step 1</td>
        <td style="border: 1px solid #29bf12;">Step 2</td>
        <td style="border: 1px solid #29bf12;">Step 3</td>
        <td style="border: 1px solid #29bf12;">Step 4</td>
        <td style="border: 1px solid #29bf12;">Step 5</td>
      </tr>
      <tr>
        <td style="color: #bf4d92; border: 1px solid #29bf12;">Keyboard</td>
        <td style="color: #19b552; border: 1px solid #29bf12;">Plugboard</td>
        <td style="color: #d8a846; border: 1px solid #29bf12;">Rotors</td>
        <td style="color: #19b552; border: 1px solid #29bf12;">Plugboard</td>
        <td style="color: #4d9ec1; border: 1px solid #29bf12;">Lampboard</td>
      </tr>
    </table>
    <hr>

    <img src="bombeRotors.jpg" class="controllerImage bombeImage">
    <hr>

    <img src="navalBombe.jpg" class="controllerImage bombeImage">
    <hr>
    <!-- Works Cited Button -->
    <button class="contollerBtn options headerBtn">WORKS CITED</button>
    <hr>
    <script type="text/javascript" src="controlling.js"></script>
    <script type="text/javascript" src="controllerRotors.js"></script>
  </body>
</html>
