<!DOCTYPE html>
  <html>
  <head>
    <title>The Bombe and the Enigma</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chonburi&family=Trispace:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div>
      <button id="homeBtn">Home Page</button>
      <button id="eBtn">Enigma</button>
      <button id="bBtn">Bombe</button>
    </div>
    <script type="text/javascript" src="controlling.js"></script>
  </body>
</html>
