<%- include("partials/header.ejs") %>
  <div class="headDiv">
    <img src="enigmaSample.jpg">
    <h2 class="bodyHeader bombe">BOMBE</h2>
    <h2>VS</h2>
    <h2 class="bodyHeader enigma">ENIGMA</h2>
    <hr>
    <div class="returnDiv">
      <table>
        <tr>
          <td><button class="options" onclick="window.location='/enigma';">ENIGMA</button></td>
          <td><button class="options" onclick="window.location='/bombe';">BOMBE</button></td>
          <td><button class="options" onclick="window.location='/lastingeffects';">LASTING EFFECTS</button></td>
        </tr>
      </table>
    </div>
  </div>
<%- include("partials/footer.ejs") %>
