<%- include("partials/header.ejs") %>
  <div class="headDiv">
    <img src="enigmaSample.jpg">
    <h2 class="bodyHeader bombe">BOMBE</h2>
    <h2>VS</h2>
    <h2 class="bodyHeader enigma">ENIGMA</h2>
    <hr>
  </div>
  <div class="enigmaDiv">
    <h2>Arthur Scherbius - Author of ENIGMA</h2>
    <div class="biography">
      <img src="arthurScherbius.jpg" class="enigmaProfile">
      <div class="facts">
        <ul>
          <li>German Electrical Engineer</li>
        </ul>
      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") %>
