<%- include("partials/header.ejs") %>
<%- include("partials/return.ejs") %>

<div class="headDiv">
  <img src="bletchlyPark.jpg">
  <h2 class="bodyHeader bombe">WORKS</h2>
  <h2 class="bodyHeader enigma">CITED</h2>
</div>
<% if (enabled){ %>

<div class="worksCitedDiv">

</div>
<% } %>
<%- include("partials/footer.ejs") %>
